.root {-fx-background-color: #141414;}
.root2{-fx-background-color: #0d0d0d;}

/*******************************************************************************
 *                                                                             *
 * Buttons                                               *
 *                                                                             *
 ******************************************************************************/

.button {
    -fx-text-fill: #c7c7c7;
    -fx-background-color: #383838;
}
.button1 {-fx-background-radius: 33 33 33 33;}
.button2 {-fx-background-radius: 25 25 0 0;}
.button3 {-fx-background-radius: 25 0 0 25;}

.button:hover{-fx-background-color: #737373;}
.button:pressed{-fx-background-color: #b3b3b3;}

.label {
    -fx-text-fill: #c3c3c3;
}

/*******************************************************************************
 *                                                                             *
 * Text Common (TextField, PasswordField, TextArea)                            *
 *                                                                             *
 ******************************************************************************/

.text-input {
    -fx-background-radius: 25 25 25 25;

    -fx-background-color: #1c1c1c;

    -fx-border-color: #616161;
    -fx-border-radius: 25 25 25 25;
    -fx-background-insets: 0, 2;
    -fx-prompt-text-fill: #909090;

    -fx-highlight-fill: #f5f5f5;
    -fx-highlight-text-fill: #f5f5f5;

    -fx-font-size: 1em; /* 12 */
}
.text-input:focused {
    -fx-border-color: cyan;

    -fx-text-fill: #f5f5f5;
}
.text-input:disabled {
    -fx-opacity: 1;
    -fx-background-insets: 0, 2;
    -fx-background-color: border_disabled_color, background_disabled_color;
    -fx-text-fill: text_disabled_color;
    -fx-prompt-text-fill: text_disabled_color;
}

/*******************************************************************************
 *                                                                             *
 * Password Field                                                              *
 *                                                                             *
 ******************************************************************************/

.text-input.text-field > Pane,
.text-input.password-field > Pane {
    -fx-background-color: transparent;
}
.password-field {
    -right-button-visible: true;
}

.password-field > .right-button {
    -fx-padding: 0 0.166667em 0 0.166667em;
}

.password-field > .right-button > .right-button-graphic {
    -fx-shape            : "M307.688,399.564c0,1.484-1.203,2.688-2.688,2.688c-1.484,0-2.688-1.203-2.688-2.688s1.203-2.688,2.688-2.688C306.484,396.876,307.688,398.08,307.688,399.564z M297.5,399h2.5c0,0,1.063-4,5-4c3.688,0,5,4,5,4h2.5c0,0-2.063-6.5-7.5-6.5C299,392.5,297.5,399,297.5,399z";
    -fx-scale-shape: false;
    -fx-background-color: #111;
}

.password-field > .right-button:pressed {
    -fx-background-color: accent_color;
}

.password-field > .right-button:pressed > .right-button-graphic {
    -fx-background-color: #f5f5f5;
}