.root {-fx-background-color: #141414;}
.root2{-fx-background-color: #0d0d0d;}

/*******************************************************************************
 *                                                                             *
 * Buttons                                               *
 *                                                                             *
 ******************************************************************************/

.button {
    -fx-text-fill: #c7c7c7;
    -fx-background-color: #383838;
}
.button1 {
    -fx-background-radius: 75 75 75 75;
    -fx-border-radius: 75 75 75 75;
}
.button2 {
    -fx-background-radius: 75 75 0 0;
    -fx-border-radius: 75 75 0 0;
}
.button3 {
    -fx-background-radius: 55 0 0 55;
    -fx-border-radius: 55 0 0 55;
}
.button4 {
    -fx-background-radius: 55 0 0 55;
    -fx-border-radius: 55 0 0 55;
    -fx-border-color: #FF00E7;
}

.button:hover{-fx-background-color: #737373;}
.button:pressed{
    -fx-background-color: #b3b3b3;
    -fx-border-color: #FF00E7;
}

.label {
    -fx-text-fill: #b3b3b3;
}

/*******************************************************************************
 *                                                                             *
 * Text Common (TextField, PasswordField, TextArea)                            *
 *                                                                             *
 ******************************************************************************/

.text-input {
    -fx-background-color: #1c1c1c;

    -fx-border-color: #616161;
    -fx-background-insets: 0, 2;
    -fx-prompt-text-fill: #909090;

    -fx-highlight-fill: #f5f5f5;
    -fx-highlight-text-fill: #383838;
    -fx-text-fill: #d3d3d3;

}

.text-field{
    -fx-background-radius: 55 55 55 55;
    -fx-border-radius: 55 55 55 55;
}

.text-input:focused {
    -fx-border-color: white;
    -fx-text-fill: #f9f9f9;
}

.text-area .content {
    -fx-background-color: #616161, #1c1c1c;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 1;
}

/*******************************************************************************
 *                                                                             *
 * Password Field                                                              *
 *                                                                             *
 ******************************************************************************/

.text-input.text-field > Pane,
.text-input.password-field > Pane {
    -fx-background-color: transparent;
}
.password-field {
    -right-button-visible: true;
}

.password-field > .right-button {
    -fx-padding: 0 0.166667em 0 0.166667em;
}

.password-field > .right-button > .right-button-graphic {
    -fx-shape            : "M307.688,399.564c0,1.484-1.203,2.688-2.688,2.688c-1.484,0-2.688-1.203-2.688-2.688s1.203-2.688,2.688-2.688C306.484,396.876,307.688,398.08,307.688,399.564z M297.5,399h2.5c0,0,1.063-4,5-4c3.688,0,5,4,5,4h2.5c0,0-2.063-6.5-7.5-6.5C299,392.5,297.5,399,297.5,399z";
    -fx-scale-shape: false;
    -fx-background-color: #111;
}

.password-field > .right-button:pressed {
    -fx-background-color: accent_color;
}

.password-field > .right-button:pressed > .right-button-graphic {
    -fx-background-color: #f5f5f5;
}

/*******************************************************************************
 *                                                                             *
 * Tab Pane and Tabs                                                           *
 *                                                                             *
 ******************************************************************************/

.tab-pane {
    -fx-tab-min-height: 3.91666375em; /* 34 */
    -fx-tab-max-height: 3.91666375em; /* 34 */
}
.tab-pane > .tab-header-area {
    -fx-padding: 10 50 0 100; /* 0 2 0 5 */
    -fx-background-color: #141414;
}
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-background-color: transparent, #616161, #383838;
    -fx-background-radius: 30 30 0 0, 30 30 0 0, 30 30 0 0;
    -fx-border-radius: 30 30 0 0, 30 30 0 0, 30 30 0 0;
    -fx-padding: 0.083333em 1.5em 0.0769em 1.5em; /* 1 18 0.99 18 */
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: transparent, #FF00E7, #636363;
    -fx-background-radius: 30 30 0 0, 30 30 0 0, 30 30 0 0;
}
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}
.tab-pane > .tab-header-area > .headers-region > .tab:hover{
    -fx-background-color: transparent, #616161, #737373;
    -fx-background-radius: 30 30 0 0, 30 30 0 0, 30 30 0 0;
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-text-fill:  #c7c7c7;
    -fx-font-size: 36;
}
.tab-pane {
    -fx-background-color: #141414;
}

/*******************************************************************************
 *                                                                             *
 * Table View                                                                  *
 *                                                                             *
 ******************************************************************************/

.table-view{
    -fx-cell-focus-inner-border: #616161; /* focused */
    -fx-background-color: transparent, transparent;
    -fx-border-color: #383838;
    -fx-padding: 0;
}
.table-view .column-header .label{;
    -fx-text-fill: #c7c7c7;
    -fx-font-size: 28;
}
.table-view .column-header-background {
    -fx-background-color: #141414;
}
.table-view .column-header {
    -fx-background-color: #222222;
    -fx-border-color: #616161;
}
.table-view > .column-header-background .nested-column-header > .column-header > GridPane {
    -fx-background-color: transparent;
}

/********************************** Table View "body"  *************************************/

.table-cell {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 1em;  /* 12 */
    -fx-alignment: center-left;

    -fx-border-width: 0;
}

.table-row-cell:even{
    -fx-background-color: rgba(24, 24, 24, 0.4);
}
.table-row-cell:odd{
    -fx-background-color: rgba(17, 17, 17, 0.22);
}

.table-cell:filled:hover {
    -fx-background-color: #454545;
}

.table-cell .text {
    -fx-fill: #919191;
}

.table-cell:hover .text {
    -fx-fill: #c7c7c7;
}

/* hover row (row selection mode) */
.table-view:row-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:hover {
    -fx-background-color: cell_hover_color;
}

/* Selected cells and rows */
.table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected .text,
.table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell:selected .table-cell .text {
    -fx-fill: #FF00E7;
}

/* - when focused (with cell selection mode) */
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:selected .table-cell {
    -fx-background-color: cell_selected_color;
    -fx-border-width: 0;
}

.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected:hover,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:selected:hover .table-cell {
    -fx-background-color: cell_selected_hover_color;
}

.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected > .text,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:selected .table-cell > .text {
    -fx-fill: #FF00E7;
}

.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected:hover:pressed {
    -fx-background-color: cell_selected_pressed_color;
}

/* -- when row selection mode */

.table-view:focused:row-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:selected {
    -fx-background-color: cell_selected_color;
}

.table-view:focused:row-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:selected:hover {
    -fx-background-color: cell_selected_hover_color;
}

/* - when not focused */
.table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected,
.table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell:selected .table-cell {
    -fx-background-color: cell_selected_unfocused_color;
}

.table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected > .text,
.table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell:selected .table-cell > .text {
    -fx-fill: #6800ad;
}

/* -- when row selection mode */

.table-view:row-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:selected {
    -fx-background-color: cell_selected_unfocused_color;
}

.table-view:row-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:selected:hover:pressed {
    -fx-background-color: cell_selected_pressed_color;
}

.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:selected:hover:pressed .table-cell {
    -fx-background-color: cell_selected_pressed_color;
}

.table-row-cell {
    -fx-background-color: table_background_color;
    -fx-background-insets: 0;
}

/*********************** Check box *****************************/

.check-box {
    -fx-opacity: 1;
}
.check-box > .box > .mark {
    -fx-shape: "M17.939,5.439L7.5,15.889l-5.439-5.449l0.879-0.879L7.5,14.111 l9.561-9.551L17.939,5.439z";

    -fx-pref-width: 16px;
    -fx-pref-height: 12px;

    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

/* unselected */
.check-box > .box {
    -fx-background-color: box_background_color;
    -fx-background-insets: 0;
    -fx-background-radius: 7 7 7 7;

    -fx-border-color: #979797;
    -fx-border-width: 2px;
    -fx-border-radius: 7 7 7 7;

    -fx-padding: 3 2 3 2;     /* 2 0 2 0 */
}

/* hover */
.check-box:hover > .box, .check-box:selected:hover > .box  {
    -fx-border-color: rgba(247, 0, 255, 0.4);
}

/* selected */
.check-box:selected > .box{
    -fx-background-color: accent_color;
    -fx-border-color: #585858;
}

.check-box:selected > .box > .mark{
    -fx-background-color: #FF00E7;
}

/* pressed */
.check-box:pressed > .box, .check-box:selected:pressed > .box
{
    -fx-background-color: rgba(93, 28, 186, 0.27);
    -fx-border-color: #585858;
}

/*******************************************************************************
 *                                                                             *
 * TitledPane                                                                  *
 *                                                                             *
 ******************************************************************************/

/* Text inside header area */
.titled-pane > .title > .text {
    -fx-fill: #919191;

    -fx-font-family: "Segoe UI";
    -fx-font-size: 20
}

/* Title header area */
.titled-pane > .title {
    -fx-background-color: border_color, title_background_color;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0;
}

.titled-pane > .title:hover {
    -fx-background-color: #585858;
}

.titled-pane > .title:hover > .arrow-button {
    -fx-background-color: title_background_hover_color;
}

/* Arrow (for collapsing/expanding) */
.titled-pane > .title > .arrow-button > .arrow {
    -fx-shape: "M 4.21875 10.78125 L 2.78125 12.21875 L 15.28125 24.71875 L 16 25.40625 L 16.71875 24.71875 L 29.21875 12.21875 L 27.78125 10.78125 L 16 22.5625 Z";

    -fx-background-color: #919191;

    -fx-effect: null;
}

.titled-pane > .title > .arrow-button > .arrow ,
.titled-pane:focused > .title > .arrow-button > .arrow {
    -fx-background-insets: 0, 0;
}

/* Content */
.titled-pane > .content {
    -fx-border-color: border_color;
    -fx-background-color: border_color, content_background_color;
    -fx-background-insets: -1 0 0 0, 0 1 1 1;

    -fx-padding: 0.166667em 0 0.166667em 0; /* 2 0 2 0 */
}


